{% extends 'base_admin.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Actualités</h1>
    <div class="m-2 mb-4 mr-4 text-right">
        <a class="btn btn-light text-primary border-primary mx-2" href="{{ path('actuality_new') }}">Ajouter <svg class="bi bi-plus-circle-fill" width="24px" height="24px" viewBox="0 0 16 16" fill="#00384f" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
            </svg></a>
    </div>
    <table class="table table-striped w-75 text-center m-auto table-hover table-borderless">
        <thead class="bg-primary text-light">
            <tr class="row mx-0">
                <th class="col-3">Titre</th>
                <th class="col-2">Date</th>
                <th class="col-2">Thème</th>
                <th class="col-3">Aperçu</th>
                <th class="col-1"></th>
                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody>
        {% for actuality in actualities %}
            <tr class="d-flex align-items-center">
                <td class="col-3">{{ actuality.title }}</td>
                <td class="col-2">{{ actuality.date ? actuality.date|date('d-m-Y') : '' }}</td>
                <td class="col-2">{{ actuality.theme }}</td>
                <td class="col-3"><img class="w-50" src=" {{ asset('uploads/'~actuality.picture )}}" alt="{{ actuality.picture }}"></td>
                <td class="col-1">
                    <a class="" href="{{ path('actuality_edit', {'id': actuality.id}) }}"><svg class="bi bi-pencil-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg></a>
                </td>
                <td class="col-1">
                    {{ include('admin_actuality/_delete_form.html.twig') }}
                </td>

        {% else %}
                <td colspan="7">no records found</td>
        {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
