{% extends 'base_user.html.twig' %}


    {% block title %}Team Training{% endblock %}

{% block body %}
    <section class="">
        <h1 class="text-center text-primary">Team Training</h1>
        {% for activity in activities %}
            <div class="card-coach-activity d-flex flex-wrap w-100 my-5 py-3">
                <div class="overflow-hidden card-act-image col-12 col-md-4 text-center">
                    <img class="image-activity w-100" src="{{ vich_uploader_asset(activity, 'activityFile') }}"
                         alt="{{ activity.title }}">
                </div>
                <div class="col-md-8 d-flex flex-column">
                    <div class="w-100 text-center">
                        <div class="badge-coaching d-flex justify-content-center align-items-center text-primary mx-auto" >
                            {% if activity.pictogram %}
                                <img src="{{ asset('build/pictograms/' ~ activity.pictogram ~ '.svg') }}" alt="pictogramme de l'activité">
                            {% else %}
                                <img class="w-50" src="{{ asset('build/running.svg')}}" alt="pictogramme de l'activité">
                            {% endif %}
                        </div>
                        <h2 class="h2 w-100 text-center text-primary">{{ activity.title|upper }}</h2>
                    </div>
                    <div class="p-md-5">
                        <p class="">{{ activity.description|nl2br }}</p>
                        <a href="{{ path('app_contact') }}" class="btn btn-light border-primary text-primary">ME CONTACTER</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
<section class="w-100">
    <img class="col-md-6 offset-md-3" src="{{ asset('/uploads/planning/' ~ coachInfo.planning) }}" class="w-100" alt="Planning des cours collectif">
</section>
{% endblock %}
