{% extends 'base_user.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="m-3 text-center text-primary">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}" class="btn btn-light text-primary border-primary" >Logout</a>
            </div>
        {% endif %}

        <h1 class="h1 mb-3 font-weight-normal text-primary text-center">Connectez-vous</h1>
        <div class="text-center text-primary">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control offset-2 col-8 offset-xl-4 col-xl-4"
                   required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control offset-2 col-8 offset-xl-4 col-xl-4" required>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

<div class="text-center">
        <button class="btn btn-primary m-4" type="submit">
            Se connecter
        </button>
</div>
    </form>
    <div class="text-primary text-center mb-4">
        <a href="{{ path('app_register') }}">Créer un compte</a>
    </div>
    <div class="text-primary text-center mb-4">
        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
    </div>
{% endblock %}
