{% extends 'base.html.twig' %}

{% block title %}Ressource{% endblock %}

{% block body %}
    <h1>Ressource</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ressource.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ ressource.type }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ressource.name }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ ressource.file }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ressource_index') }}">back to list</a>

    <a href="{{ path('ressource_edit', {'id': ressource.id}) }}">edit</a>

    {{ include('admin_ressource/_delete_form.html.twig') }}
{% endblock %}
