<section class="pt-4 pb-4">
    <div class="container-fluid">
        <h2 class="text-center mb-5 mt-5"><span class="span-about-me-primary-color">
                À PROPOS</span> <span class="font-weight-bold span-about-me-primary-color">DE MOI</span>
        </h2>
        {% for coachInfo in coachInfos %}
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                    <img class="img-coach-about-me-home" src="build/{{ coachInfo.image }}"
                         alt="Coach Peter">
                </div>
                <div class="col-lg-6 c">
                    <h3 class="coach-name-about-me font-weight-bold">
                        <span class="text-primary">PETER</span>
                        <span class="text-secondary">DIONISIO</span>
                    </h3>
                    <p class="font-italic">
                        "{{ coachInfo.catchline }}"
                    </p>
                    <div>
                        <ul class="nav mt-3" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active span-about-me-secondary-color" id="home-tab" data-toggle="tab"
                                   href="#home" role="tab" aria-controls="home" aria-selected="true">
                                    Présentation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Ma Philosophie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                   aria-controls="contact" aria-selected="false">Mes Certifications</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            {{ coachInfo.presentation }}
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {{ coachInfo.philosophy }}
                        </div>

                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            {% for degree in degrees %}
                                <ul>
                                    <p>
                                        {{ degree.name }}
                                    </p>
                                </ul>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                            <button type="button" class="mt-5 btn btn-light border-primary text-primary">
                                ME CONTACTER
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>