<section>
    <h2 class="text-primary text-center w-100">LES ACTUALITÉS - <span
                class="font-weight-bold">SANTÉ, SPORT, NUTRITION</span></h2>
    <div class="row justify-content-center justify-content-lg-between">
        {% for actuality in actualities %}
            <div class="card card-actu m-3">
                <a href="{{ path('app_actuality')}}#article_{{ actuality.id }}" class="text-decoration-none">
                    <img class="card-img-top card-actu-img" src="{{ vich_uploader_asset(actuality, 'actualityFile') }}"
                         alt="{{ actuality.title }}">
                <div class="card-body card-actu-body card-blog rounded-bottom position-relative">
                    <div class="badge position-absolute card-theme text-left align-items-center rounded-0 ">
                        {{ actuality.topic }}
                    </div>
                    <h3 class="card-title card-title-actu text-primary mt-1">{{ actuality.title|upper }}</h3>
                    <p class="card-text card-actu-text">{{ actuality.content|length > 150 ? actuality.content|slice(0, 150) ~ '...' : actuality.content }}</p>
                    <div class="d-flex justify-content-end align-items-baseline ">
                        <div class="mr-2">
                            <svg class="bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16" fill=darkgray
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                <path fill-rule="evenodd"
                                      d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </div>
                        <div class="date-blog pr-2">{{ actuality.date|date('d M Y') }}</div>
                    </div>
                </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center justify-content-lg-end mb-3">
        <a class="btn btn-light border-primary text-primary" href="{{ path('app_actuality') }}">VOIR
            TOUTE L'ACTU</a>
    </div>
</section>
