<section id="before_after" class="before_after">
    <!-- Titre de section -->
    <div class="pt-2">
        <h2 class="text-light w-100 text-center">ILS ONT <span class="text-light font-weight-bold">RÉUSSI</span> !</h2>
    </div>
    <!-- Carousel -->
    <div class="w-100">
        <div id="carouselExampleControls" class="w-100 carousel slide" data-ride="carousel">
            <div class="carousel-inner w-100">

            {% for transformation in transformations %}
                {% if loop.index is odd %}
                <div class="py-5 carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="d-flex flex-wrap">
                {% endif %}
                    <div class="col-10 col-lg-4 {% if loop.index is even %}offset-1{% else %}offset-2{% endif %}">
                        <div class="w-50 position-relative my-5 pt-lg-5">
                            <div class="picture_duo first_image position-relative bg-light col-lg-12 p-2">
                                <div class="overflow-hidden polaroid_img w-100 m-auto">
                                    <img class="w-100 my-auto" src="{{ vich_uploader_asset(transformation, 'pictureBeforeFile') }}" alt="{{ transformation.name }} avant">
                                </div>
                                <div class="polaroid_label text-center text-primary">
                                    {{ transformation.name }}
                                </div>
                            </div>
                            <div class="picture_duo second_image position-absolute bg-light col-lg-11 p-2">
                                <div class="overflow-hidden polaroid_img w-100">
                                    <img class="w-100 my-auto" src="{{ vich_uploader_asset(transformation, 'pictureAfterFile') }}" alt="{{ transformation.name }} après">
                                </div>
                                <div class="polaroid_label text-center text-secondary">
                                    -{{ transformation.pound }} Kg
                                </div>
                            </div>
                        </div>
                    </div>
                {% if loop.index is even %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            {% if transformations|length is odd %} {# ajout en cas d'entegistrement impaire #}
                <div class="d-flex align-items-center text-light text-center col-12 col-lg-4 offset-lg-1 my-5">
                            <p class="align-middle w-100 text-center next">Serez-vous le prochain ?</p>
                </div>
            </div>
        </div>
        {% endif %}

            </div>
            <!-- Les contrôles < & > -->
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="h-25 col-md-3 col-sm-1 carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="h-25 col-md-3 col-sm-1 carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- Btn lien vers page -->
    <div class="pt-1 text-center w-100 ">
        <a class="btn btn-light mb-5" href="{{ path('transformations') }}">VOIR LES TRANSFORMATIONS</a>
    </div>
</section>
