{{ form_start(form) }}

<table class="table w-75 m-auto table-striped">
    <thead>
    </thead>
    <tbody>
    <tr>
        <th>Nom du programme</th>
        <td class="text-left">
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}</td>
    </tr>
    <tr>
        <th>Durée du programme</th>
        <td class="text-left">
            {{ form_errors(form.duration) }}
            {{ form_widget(form.duration) }}</td>
    </tr>
    </tbody>
</table>
<div class="w-75 m-auto text-center">
    <button class="btn btn-primary my-4">
        {{ button_label|default('Enregistrer') }}
    </button>
</div>
{{ form_end(form) }}
