{% extends 'base_admin.html.twig' %}

{% block title %}Les programmes{% endblock %}

{% block body %}
    <h1 class="text-center text-primary my-5">Les programmes</h1>
    <div class="w-75 m-auto text-right">
        <a class="btn btn-light text-primary border-primary my-4" href="{{ path('program_new') }}">
            Ajouter
            <svg class="bi bi-plus-circle-fill" width="24px" height="24px" viewBox="0 0 16 16" fill="#00384f" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
            </svg>
        </a>
    </div>
    <table class="table table-striped w-75 text-center m-auto table-hover table-borderless">
        <thead>
            <tr class="bg-primary text-light text-center">
                <th class="col-4">Programme</th>
                <th class="col-4">Etapes</th>
                <th class="col-3">Durée d'action</th>
                <th class="col-2"></th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.name }}</td>
                <td>{{ program.duration }}</td>
                <td>
                    <a class="btn text-primary mx-2 col-6" href="{{ path('program_edit', {'id': program.id}) }}">
                        <svg class="bi bi-pencil-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                </td>
                <td>
                    {{ include ('admin_program/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de programme enregistré.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="w-75 m-auto text-left">
        <a class="btn btn-light text-primary border-primary my-4" href="{{ path('app_admin') }}">
            <svg class="bi bi-arrow-left-circle-fill" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
            </svg> Retour
        </a>
    </div>
{% endblock %}
