{% extends 'base_user.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Bienvenue sur votre espace membre </h1>
<section>
        <p>Bonjour {{ app.user.firstname }},</p>
        {%  for attended in app.user.attendeds %}
        <p>Vous participez au programme {{ attended.program.name|upper }} depuis le {{ attended.beginDate|date("d/m/Y") }} .</p>
        <p>Vous avez accès aux ressources liées jusqu'au {{ attended.endDate|date("d/m/Y") }} .</p>

            {%  for programStep in attended.program.programSteps %}
                {% if "now"|date("m/d/Y") > attended.beginDate|date_modify("+"~programStep.begin~" day")|date("m/d/Y") %}
                    {{ programStep.title }} => accès valide <br>
                    {%  for ressource in programStep.ressources %}
                        <img src="/build/{{ ressource.type }}.svg" alt="{{ ressource.type }}"> => {{ ressource.name }} <br>
                    {% endfor %}
                {% endif %}
            {% endfor %}

        {% endfor %}
</section>
{% endblock %}
