{% extends 'base_user.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

<h1 class="text-center text-primary">Bienvenue</h1>
<section class="w-100">
{% for attended in app.user.attendeds %}
    <div class="display-4 text-center text-primary">
        Programme {{ attended.program.name }}
    </div>
    <div class="text-center text-primary">
        Du {{ attended.beginDate|date("d/m/Y") }} au {{ attended.endDate|date("d/m/Y") }}.
    </div>

    {%  for programStep in attended.program.programSteps %}

    <div class="step bg-primary col-md-8 offset-md-2 text-center my-3 p-2">
        <p class="h3 text-light">{{ programStep.title }}</p>
        <p class="text-light">disponible à compter du {{ attended.beginDate|date_modify("+"~programStep.begin~" day")|date("d/m/Y") }}</p>
        {% if "now"|date("d/m/Y") > attended.beginDate|date_modify("+"~programStep.begin~" day")|date("d/m/Y") %}
        <div class="row">
            <div class="col-1"></div>
            <div class="m-0 p-0 col-md-4 align-items-center mb-2">
                <iframe src="https://player.vimeo.com/video/{{ programStep.urlVideo }}?title=0&byline=0&portrait=0" width="360" height="250" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                </iframe>
                {% if programStep.fileExplain %}
                <a class="text-light" href="/uploads/programStep/{{ programStep.fileExplain }}" target="_blank">Récapitulatif</a>
                {% endif %}
            </div>
            <div class="col-2"></div>
            <div class="text-light text-left col-md-4">
                {{ programStep.description }}
            </div>
        </div>
            <div class="overflow-hidden px-0 border border-primary step">
                <h3 class="pb-1 mx-auto text-center">
                    <a class="btn btn-light text-primary"
                       data-toggle="collapse"
                       href="#collapse{{ programStep.id }}"
                       role="button"
                       aria-expanded="false"
                       aria-controls="collapse{{ programStep.id }}">
                        Vos fichiers d'accompagnement
                    </a>
                </h3>
                <div class="collapse" id="collapse{{ programStep.id }}">
                    <div class="card card-body border-0">
                        <div class="w-100 d-flex flex-wrap justify-content-around">
                            {%  for ressource in programStep.ressources %}
                                <div class="d-flex flex-column justify-content-between card border-primary my-5 mx-0 text-primary">
                                    <div class="bg-primary text-light text-left w-100">
                                        {{ ressource.theme.nameTheme }}
                                    </div>
                                    {% if ressource.type == 'video' %}
                                        <iframe src="https://player.vimeo.com/video/{{ ressource.refVideo }}?title=0&byline=0&portrait=0" width="300" height="" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                                        </iframe>
                                        <div class="w-100 text-center text-primary">
                                            {{ ressource.name }}
                                        </div>
                                    {% else %}
                                        <div class="w-100 text-center py-1">
                                            <a href="/uploads/ressources/{{ ressource.file }}" target="_blank">
                                                <img src="/build/{{ ressource.type }}.svg" alt="{{ ressource.type }}">
                                            </a>
                                        </div>
                                        <div class="w-100 text-center text-primary">
                                            {{ ressource.name }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="w-100 py-2">
                </div>
            </div>

        {% endif %}
    </div>

    {% endfor %}
{% endfor %}
</section>
{% endblock %}
