{% extends 'base_user.html.twig' %}
{%  form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-primary text-center">Inscription</h1>
    <div class="my-5 container text-center text-primary">
    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.phone) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}

    <div class="text-center">
        <button type="submit" class="btn btn-primary m-4">Register</button>
    </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
