{% extends 'base_user.html.twig' %}

{% block title %}Tranformations{% endblock %}

{% block body %}
    <section class="mb-5">
        <div class="col">
            <h1 class="text-center text-primary">Les transformations de mes coachés</h1>
        </div>

        {% for transformation in transformations %}
            <div class="container-fluid">
                <div class="row transformations mb-5">
                    <div class="col-md-6 d-flex align-items-center justify-content-around flex-column">
                        <h3 class="font-weight-bold font-italic text-center">
                            " {{transformation.title}} "
                        </h3>

                        <h4 class="font-weight-bold text-center my-3">
                            {{ transformation.name}} a perdu {{ transformation.pound }}kgs.
                        </h4>

                        <p class="font-italic h4">
                            {{transformation.description}}
                        </p>
                    </div>

                    <div class="col-md-6 my-4 d-flex">
                        <div class="position-relative w-50 ">
                            <div class="before_afterImg first_image position-relative">
                                <div class="w-100 rounded">
                                    <img class="w-100 rounded" src="{{ vich_uploader_asset(transformation, 'pictureBeforeFile') }}" alt="Photo avant le programme ">
                                </div>
                            </div>

                            <div class=" before_afterImg second_image position-absolute">
                                <div class="w-100 rounded">
                                    <img class="w-100 rounded" src="{{ vich_uploader_asset(transformation, 'pictureAfterFile') }}" alt="Photo après le programme ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

            <div class="row justify-content-center">
                <a class="btn btn-outline-primary" href="{{ path('app_contact') }}">Demander mon programme</a>
            </div>
    </section>
{% endblock %}

