{% extends 'base_user.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="text-primary text-center">Réinitialiser votre mot de passe</h1>
<div class="text-center">
    {{ form_start(requestForm) }}
    {{ form_label(requestForm.email) }}
        {{ form_widget(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary m-4">Envoyer le mail</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
