{% extends 'base_user.html.twig' %}

{% block title %}F.A.Q.{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">F.A.Q.</h1>
    <section>
            <div class="accordion pb-5 pt-2" id="accordionFaq">
                {% for faq in faqs %}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="mb-0">
                                <h2 class="btn mb-0 accordion-question text-left text-primary" type="button" data-toggle="collapse"
                                        data-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapse{{ faq.id }}">
                                    {{ faq.question }}
                                </h2>
                            </div>
                        </div>
                        <div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionFaq">
                            <div class="answer card-body pl-5">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}

