{% extends 'base.html.twig' %}

{% block title %}CoachingCategory{% endblock %}

{% block body %}
    <h1>CoachingCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coaching_category.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ coaching_category.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coaching_category_index') }}">back to list</a>

    <a href="{{ path('coaching_category_edit', {'id': coaching_category.id}) }}">edit</a>

    {{ include('coaching_category/_delete_form.html.twig') }}
{% endblock %}
