{% extends 'base_admin.html.twig' %}

{% block title %}Transformations{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Transformations</h1>

    <table class="table table-striped w-75 text-center m-auto table-borderless">
        <thead class="bg-primary text-light">
            <tr class="row mx-0">
                <th class="col-2">Nom</th>
                <th class="col-2">Poids perdu</th>
                <th class="col-3">Photo avant</th>
                <th class="col-3">Photo après</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>
        {% for transformation in transformations %}
            <tr class="row mx-0">
                <td class="col-2 m-auto">{{ transformation.name }}</td>
                <td class="col-2 m-auto">{{ transformation.pound }}</td>
                <td class="col-3 m-auto"><img class="w-50" src="../../uploads/transformations/{{ transformation.pictureBefore }}" alt="Photo avant la perte de poids de {{ transformation.name }}"></td>
                <td class="col-3 m-auto"><img class="w-50" src="../../uploads/transformations/{{ transformation.pictureAfter }}" alt="Photo après la perte de poids de {{ transformation.name }}"></td>
                <td class="col-1 m-auto align-middle">
                    <a class="btn text-primary" href="{{ path('transformation_edit', {'id': transformation.id}) }}">
                        <svg class="bi bi-pencil-square" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                        </svg>
                    </a>
                </td>
                <td class="col-1 align-middle m-auto">
                    {{ include('admin_transformation/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'enregistrement actuellement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="m-2 mb-4 mr-4 text-center">
        <a class="btn btn-light text-primary border-primary mx-2" href="{{ path('transformation_new') }}">Ajouter <svg class="bi bi-plus-circle-fill" width="24px" height="24px" viewBox="0 0 16 16" fill="#00384f" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
            </svg></a>
    </div>

{% endblock %}
