{% extends 'base_user.html.twig' %}

{% block title %}Coaching{% endblock %}

{% block body %}
    <section class="">
        <h1 class="text-center text-primary">Coaching</h1>
        {% for activity in activities %}
        <div class="overflow-hidden card-activity row w-100" id="article_{{ activity.id }}">
            <div class="card-act-image col-md-4 text-center">
                <div class=" w-100">
                    <img class="image-activity w-100" src="{{ vich_uploader_asset(activity, 'activityFile') }}"
                         alt="{{ activity.title }}">
                </div>
                <div class="activity-cadre w-100 position-absolute">
                    <img class="w-100" src="/build/cadre1.png"
                         alt="cadre">
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="h2 text-primary text-left">{{ activity.title }}</h2>
                <p class="blog-content">{{ activity.description|nl2br }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}
