{% extends 'base_user.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <section>
        <h1 class="text-center text-primary my-5 py-5">Actualités</h1>
            {% for actuality in actualities %}
                <div class="row flex-md-row">
                    <div class="blog-content" id="article_{{ actuality.id }}">
                        <div class="float-left mr-4 mb-4">
                            <div>
                                <img class="blog-img " src="{{ vich_uploader_asset(actuality, 'actualityFile') }}"
                                     alt="{{ actuality.title }}">
                            </div>
                            <div class="badge-blog text-center pb-2 w-100">
                                {{ actuality.topic }}
                            </div>
                        </div>
                        <div class="">
                            <h2 class="h2 text-primary text-left">{{ actuality.title }}</h2>
                            <div class="text-left">
                                <div class="date-blog">
                                    <svg class="bi bi-calendar3" width="1em" height="1em" viewBox="0 0 16 16" fill=darkgray
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                                        <path fill-rule="evenodd"
                                              d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                    </svg>
                                    {{ actuality.date|date('d M Y') }}
                                </div>
                            </div>
                            <p class="blog-content">{{ actuality.content|nl2br }}</p>
                        </div>
                    </div>
                </div>
                </div>
        {% endfor %}
    </section>
{% endblock %}
