{% extends 'base.html.twig' %}

{% block title %}Actuality{% endblock %}

{% block body %}
    <h1>Actuality</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actuality.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ actuality.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ actuality.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ actuality.date ? actuality.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ actuality.theme }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ actuality.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actuality_index') }}">back to list</a>

    <a href="{{ path('actuality_edit', {'id': actuality.id}) }}">edit</a>

    {{ include('actuality/_delete_form.html.twig') }}
{% endblock %}
