<h1>Une personne vous a contacté par le biais du formulaire de contact :</h1>
<p>Prénom : {{ contact.firstname }}</p>
<p>Nom : {{ contact.lastname }}</p>
<p>Numéro de téléphone : {{ contact.phone|formatPhoneFr  }}</p>
<p>Adresse email : {{ contact.email }}</p>
<p>Âge : {{ contact.birthDate }} ans</p>
<p>Message : {{ contact.message }}</p>