<header class="w-100 top-img d-flex justify-content-center">
    <div class="bluehover position-relative"></div>

    <div class="col-12 col-xl-8 container-banner position-absolute ">
        {# debut bande supérieure (adresse => profil) #}
        <div class="px-0 supnavbar col-12 d-flex flex-column flex-md-row mt-3">
            <div class="px-0 col-md-6 infoheader d-flex flex-row">
                <div class="p-0 col-6 d-flex flex-row align-items-center">
                    <img class="mx-1 d-flex flex-row" src="{{ asset('build/blue_location.svg') }}">
                    <p>{{ coachInfo.adress ?? '' }}<br> {{ coachInfo.zipCode ?? '' }} {{ (coachInfo.city ?? '')|upper }}
                    </p>
                </div>
                <div class="col-6 px-0 d-flex ">
                    <div class="row align-items-center mx-auto">
                        <img class="mx-1" src="{{ asset('build/blue_tel.svg') }}">
                        <p class="mt-3 text-right">{{ (coachInfo.phone ?? '')|formatPhoneFr }}</p>
                    </div>
                </div>
            </div>
            <div class="row col-md-6">
                <div class="col-6 mr-0 d-flex ">
                    <div class="col-12 d-flex justify-content-around">
                        <a class="mt-2" href="https://fr-fr.facebook.com/coachpeter.orleans/" target="_blank"><img
                                    class="navbar-text" src="{{ asset('build/blue_facebook.svg') }}"
                                    alt="Lien vers page Facebook"></a>
                        <a class="mt-2" href="https://instagram.com/coach_peter.orleans?igshid=crqgsjokas3f"
                           target="_blank"><img class="navbar-text" src="{{ asset('build/blue_insta.svg') }}"
                                                alt="Lien vers page Instagram"></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row align-items-end float-right">
                        <img class="navbar-text mt-2" src="{{ asset('build/blue_connection.svg') }}"
                             alt="Lien vers page de connexion">
                        {% if app.user %}
                            <a class="mb-1 nav-item text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.firstname }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item text-primary" href="{{ path('app_admin') }}">Admin</a>
                                {% endif %}
                                <a class="dropdown-item text-primary" href="{{ path('profil_show') }}">Mon profil</a>

                                <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% else %}
                            <a href="{{ path('app_login') }}"
                               class="mb-1 nav-item navbar-link text-light text-decoration-none">Connexion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {# Fin bande supérieure#}
        {# Debut bande inférieure (Logo + liens de navigation) #}
        <div class="w-100 d-flex flex-wrap justify-content-between border-top border-light">
            <div >
                <a class="navbar-brand" href="{{ path('app_index') }}">
                    <img class="" src="{{ asset('build/peter_logo_white.png') }}" alt="logo coach Peter">
                </a>
            </div>
            <div class="text-right align-content-end ml-auto">
                <nav class="navbar navbar-expand-lg navbar-light border-top-0 justify-content-end">
                    <button class="navbar-toggler border-0 btn text-light align-right" type="button"
                            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse text-right bg-transparent" id="navbarNav">
                        {% set items = {
                            'Qui-suis-je': path('whoiam_index'),
                            'Transformations': path('transformations'),
                            'Coaching': path('app_coaching'),
                            'Team training': path('index_team_traing'),
                            'Actualités': path('app_actuality'),
                            'Contact':path('app_contact'),
                        }
                        %}

                        <ul class="navbar-nav mr-0">
                            {% if is_granted('ROLE_MEMBER') %}
                                <li class="nav-item">
                                    <a class="nav-link text-light {{ app.request.pathInfo==path('app_member') ? 'active navbar-focus' : 'navbar-link' }}" href="{{ path('app_member') }}">Espace
                                        Membre</a>
                                </li>
                            {% endif %}
                            {% for itemLabel, itemRoute in items %}
                            <li class="nav-item py-2 pl-2 ">
                                <a class="nav-item text-light text-decoration-none {{ itemRoute==app.request.pathInfo ? 'active navbar-focus' : 'navbar-link' }}" href="{{ itemRoute }}">
                                    {{ itemLabel }}
                                    {% if itemRoute == app.request.pathInfo %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        {# Fin bande inférieure#}
        {% include '_flash.html.twig' %}
        {% include 'home/_headband.html.twig' %}
    </div>
</header>
<div class="position-relative min-vw-100">
    <div class="round w-100 bg-white"></div>
</div>


