<header class="w-100 top-img d-flex justify-content-center">
    <div class="bluehover position-relative"></div>

    <div class="col-md-8 container-banner position-absolute ">
        <div class="supnavbar col-12 col-md-10 offset-md-1 d-flex flex-column flex-md-row mt-3">
            <div class="col-md-8 infoheader d-flex flex-row">
                <div class="p-0 col-7 col-md-12 d-flex flex-row">
                    <img class="mx-1 d-flex flex-row" src="{{ asset('build/blue_location.svg') }}">
                    <p>{{ coachInfo.adress }}<br> {{ coachInfo.zipCode }} {{ coachInfo.city|upper }}</p>
                </div>
                <div class="col-6 col-md-5 px-0 d-flex">
                    <img class="mx-1 d-flex flex-row" src="{{ asset('build/blue_tel.svg') }}">
                    <p>{{ coachInfo.phone|formatPhoneFr }}</p>
                </div>
            </div>
            <div class="col-md-2 offset-md-2 mr-0 d-flex ">
                <div class="col-12 d-flex justify-content-between">
                    <a href="https://fr-fr.facebook.com/coachpeter.orleans/" target="_blank"><img class="navbar-text" src="{{ asset('build/blue_facebook.svg') }}" alt="Lien vers page Facebook"></a>
                    <a href="https://instagram.com/coach_peter.orleans?igshid=crqgsjokas3f" target="_blank"><img class="navbar-text" src="{{ asset('build/blue_insta.svg') }}" alt="Lien vers page Instagram"></a>
                    <a href="{{ path('app_login') }}"><img class="navbar-text" src="{{ asset('build/blue_connection.svg') }}" alt="Lien vers page de connexion"></a>
                </div>
            </div>
        </div>

        <nav class="navbar m-auto navbar-expand-lg">
            <a class="navbar-brand" href="#"><img src="{{ asset('build/peter_logo_white.png') }}" alt="logo coach Peter"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarText">
                <ul class="navbar-nav mr-0">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link navbar-link" href="{{ path('app_admin') }}">Admin</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_MEMBER') %}
                        <li class="nav-item">
                            <a class="nav-link navbar-link" href="{{ path('app_member') }}">Espace Membre</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="{{ path('app_index') }}" >Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="#">Qui suis-je</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="#">Transformations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="#">Coaching</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="#">Team training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% include 'home/_headband.html.twig' %}
    </div>
</header>


