{% extends 'base.html.twig' %}

{% block title %}Attended index{% endblock %}

{% block body %}
    <h1>Attended index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attended in attendeds %}
            <tr>
                <td>{{ attended.id }}</td>
                <td>{{ attended.beginDate ? attended.beginDate|date('Y-m-d') : '' }}</td>
                <td>{{ attended.endDate ? attended.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('attended_show', {'id': attended.id}) }}">show</a>
                    <a href="{{ path('attended_edit', {'id': attended.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('attended_new') }}">Create new</a>
{% endblock %}
