{% extends 'base_user.html.twig' %}

{% block body %}
<section class="whoami mb-5">
    <div class="row">
        <div class="col">
          <h1 class="text-center text-primary">Qui suis-je ?</h1>
            <div class="row my-5 d-flex justify-content-center">
                <div class="col-4 d-flex justify-content-center">
                    <img class="img-coach-about-me-home w-75"
                         src="{{ vich_uploader_asset(coachInfo, 'imageFile') }}"
                         alt="Photo de Coach Peter">
                </div>
                <div class="col-lg-6">
                    <div>
                        <ul class="nav mt-3 justify-content-md-start flex-row d-flex" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-primary pl-md-0 px-0 " id="home-tab" data-toggle="tab"
                                   href="#home" role="tab" aria-controls="home" aria-selected="true">
                                    Présentation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary pl-md-0 px-0 mx-lg-3 mx-2 " id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Philosophie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary pl-md-0 px-0" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                   aria-controls="contact" aria-selected="false">Diplômes</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <div class="tab-content d-flex mx-md-0" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p>
                                    {{ (coachInfo.presentation ?? '')|nl2br }}
                                </p>

                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                {{ (coachInfo.philosophy ?? '')|nl2br }}
                            </div>

                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                {% for degree in degrees %}
                                    <div>
                                       <span class="text-secondary">{{ degree.startDate ?? '' }} -
                                       {{ degree.endDate ?? '' }}</span>
                                        <span class="text-primary">{{ (degree.name ?? '')|upper }},</span>
                                        {{ degree.organism ?? '' }}:
                                        <span>{{ degree.description ?? '' }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 d-flex flex-row offset-md-4 my-3">
        <h3 class="mr-md-4 font-italic">
            Mes compétences
        </h3>
        <img src="{{ asset('/build/path.png') }}" alt="flèche descendante" class="downarrow">
    </div>

    <div class="row">
        <div class="col-md-6 d-flex align-items-center flex-column">
            <img src="{{ asset('build/whoiam/lostpound.png') }}" alt="Peter et une coachée" class="w-75">
        </div>

            <div class="col-md-6">
                <h2><span>1</span>.PERTE DE POIDS</h2>
                <span class="font-italic row justify-content-center">
                Coach Peter
            </span>
                <p>
                    Découvrez un programme naturel et complet où nous travaillons ensemble sur l'équilibre de 4 piliers santés :<br>
                <ul class="font-weight-bold">
                    <li>Alimentation</li>
                    <li>Sommeil</li>
                    <li>Bien-être mental</li>
                    <li>Activité physique</li></ul>

                    Je vous accompagne sur une durée de 3, 6 ou 12 mois afin d'atteindre vos objectifs efficacement.
                </p>
            </div>
        </div>
    </div>

        <div class="row mt-5 flex-column-reverse flex-md-row">
            <div class="col-md-6">
                <h2><span>2</span>.POSTURE ET DOS</h2>
                <span class="font-italic row justify-content-center">
                Coach Peter
            </span>
                <p>
                    Certifié en méthode Pilates, je vous propose un accompagnement sur mesure afin d’améliorer votre posture
                    et de renforcer votre dos et ses muscles périphériques.
                </p>
            </div>

            <div class=" col-md-6 d-flex align-items-center flex-column">
                <img src="{{ asset('build/whoiam/posture.png') }}" alt="Selfie de Peter" class="w-75">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 d-flex align-items-center flex-column">
                <img src="{{ asset('build/whoiam/forme.png') }}" alt="Selfie de Peter" class="w-75">
            </div>

            <div class="col-md-6">
                <h2><span>3</span>.REMISE EN FORME</h2>
                <span class="font-italic row justify-content-center">
                Coach Peter
            </span>
                <p>
                    Vous souhaitez commencer ou reprendre une activité physique en toute sécurité ?<br>
                    Je vous propose des séances variées et adaptées afin d’améliorer votre condition physique et
                    votre bien-être mental.
                </p>
            </div>
        </div>

        <div class="row mt-5 flex-column-reverse flex-md-row">
            <div class="col-md-6">
                <h2><span>4</span>.PRISE DE MASSE MUSCULAIRE</h2>
                <span class="font-italic row justify-content-center">
                Coach Peter
            </span>
                <p>
                    Votre objectif et de développer votre masse musculaire ?<br>
                    Je vous propose un accompagnement complet pour atteindre votre objectif efficacement
                    et sans vous blesser.
                    Entraînement adapté,
                    alimentation et sommeil sont les 3 clés pour votre réussite.
                </p>
            </div>

            <div class="col-md-6 d-flex align-items-center flex-column">
                <img src="{{ asset('build/whoiam/musculaire.png') }}" alt="Selfie de Peter" class="w-75">
            </div>
        </div>
    </section>

    <div class="row justify-content-center mt-5 mb-0 pb-0 w-100 meet">
        <h4 class="text-center">
            ME RENCONTRER
        </h4>
    </div>

    <div class=" d-none d-md-flex justify-content-center ">
        <img src="{{ asset('build/whoiam/desktoptimeline.svg') }}" class="timeline" alt="timeline d'un coaching" >
    </div>

    <div class="d-flex d-md-none justify-content-center w-100 my-4">
        <img src="{{ asset('build/whoiam/mobiletimeline.svg') }}" class="timeline w-75" alt="timeline d'un coaching" >
    </div>

    <div class="row justify-content-center my-5 w-100">
        <a href="{{ path('app_contact') }}"  class="btn btn-primary">C'EST PARTI !</a>
    </div>
    {% include 'home/_map.html.twig' %}
{% endblock %}
