{% extends 'base_user.html.twig' %}
{% block body %}
<section class="whoami">
    <div class="row">
        <div class="col">
          <h1 class="text-center text-primary">Qui suis-je ?</h1>
            <div class="row my-5 d-flex justify-content-center">
                <div class="col-4 d-flex justify-content-center">
                    <img class="img-coach-about-me-home w-75"
                         src="{{ vich_uploader_asset(coachInfo, 'imageFile') }}"
                         alt="Photo de Coach Peter">
                </div>
                <div class="col-lg-6 c">
                    <h3 class="coach-name-about-me font-weight-bold">
                        Qui-suis-je ?
                    </h3>

                    <div>
                        <ul class="nav mt-3" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-primary" id="home-tab" data-toggle="tab"
                                   href="#home" role="tab" aria-controls="home" aria-selected="true">
                                    Présentation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Ma Philosophie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-primary" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                   aria-controls="contact" aria-selected="false">Mes Certifications</a>
                            </li>
                        </ul>
                    </div>
                    <div class="c">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p>
                                    Expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum,
                                    nondum tubarum cessante clangore vel milite locat Post emensos insuperabilis expeditionis eventus
                                    languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante
                                    clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus partium animis,
                                    quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat nondum
                                    tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus
                                    partium animis, quas periculorum varietas.
                                </p>

                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                {{ coachInfo.philosophy }}
                            </div>

                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                {% for degree in degrees %}
                                    <div>
                                       <span class="text-secondary">{{ degree.startDate }} -
                                       {{ degree.endDate }}</span>
                                        <span class="text-primary">{{ degree.name|upper }},</span>
                                        {{ degree.organism }}:
                                        <span>{{ degree.description }}</span>

                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 d-flex flex-row offset-md-4 my-3">
        <h3 class="mr-md-4 font-italic">
            Mes compétences
        </h3>
        <img src="{{ asset('/build/path.png') }}" alt="flèche descendante" class="downarrow">
    </div>

    <div class="row">
        <div class="col-md-6 d-flex align-items-center flex-column">
            <img src="{{ asset('build/whoiam/image1.png') }}" alt="Peter et une coachée" class="w-75">
        </div>

        <div class="row">
            <div class="col-md-6 d-flex align-items-center flex-column">
                <img src="{{ asset('/build/whoiam/image1.png') }}" alt="Peter et une coachée" class="w-75">
            </div>

            <div class="col-md-6">
                <h3><span class="h1">1</span>.PERTE DE POIDS</h3>
                <span class="font-italic row justify-content-center">
                Lorem Ipsum
            </span>
                <p>
                    Expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum,
                    nondum tubarum cessante clangore vel milite locat Post emensos insuperabilis expeditionis eventus
                    languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante
                    clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus partium animis,
                    quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat nondum
                    tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus
                    partium animis, quas periculorum varietas.
                </p>
            </div>
        </div>
    </div>

        <div class="row mt-5 flex-column-reverse flex-md-row">
            <div class="col-md-6">
                <h3><span class="h1">2</span>.POSTURE ET DOS</h3>
                <span class="font-italic row justify-content-center">
                Lorem Ipsum
            </span>
                <p>
                    Expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum,
                    nondum tubarum cessante clangore vel milite locat Post emensos insuperabilis expeditionis eventus
                    languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante
                    clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus partium animis,
                    quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat nondum
                    tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus
                    partium animis, quas periculorum varietas.
                </p>
            </div>

            <div class=" col-md-6 d-flex align-items-center flex-column">
                <img src="{{ asset('build/whoiam/image2.png') }}" alt="Selfie de Peter" class="w-75">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 d-flex align-items-center flex-column">
                <img src="{{ asset('build/whoiam/image1.png') }}" alt="Selfie de Peter" class="w-75">
            </div>

            <div class="col-md-6">
                <h3><span class="h1">3</span>.REMISE EN FORME</h3>
                <span class="font-italic row justify-content-center">
                Lorem Ipsum
            </span>
                <p>
                    Expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum,
                    nondum tubarum cessante clangore vel milite locat Post emensos insuperabilis expeditionis eventus
                    languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante
                    clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus partium animis,
                    quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat nondum
                    tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus
                    partium animis, quas periculorum varietas.
                </p>
            </div>
        </div>

        <div class="row mt-5 flex-column-reverse flex-md-row">
            <div class="col-md-6">
                <h3><span class="h1">4</span>.PRISE DE MASSE MUSCULAIRE</h3>
                <span class="font-italic row justify-content-center">
                Lorem Ipsum
            </span>
                <p>
                    Expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum,
                    nondum tubarum cessante clangore vel milite locat Post emensos insuperabilis expeditionis eventus
                    languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante
                    clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus partium animis,
                    quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat nondum
                    tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus
                    partium animis, quas periculorum varietas.
                </p>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center flex-column">
            <img src="{{ asset('build/whoiam/image2.png') }}" alt="Selfie de Peter" class="w-75">
            <div class="col-8 d-flex justify-content-end font-italic ">
                Lorem ipsum
            </div>
        </div>



        <div class="row justify-content-center my-5 w-100 meet">
            <h4>
                ME RENCONTRER
            </h4>
        </div>

        <div class="row d-none d-md-flex justify-content-center w-100 my-4">
            <img src="{{ asset('build/whoiam/desktoptimeline.svg') }}" class="timeline w-75" alt="timeline d'un coaching" >
        </div>

        <div class="row d-flex d-md-none justify-content-center w-100 my-4">
            <img src="{{ asset('build/whoiam/mobiletimeline.svg') }}" class="timeline w-75" alt="timeline d'un coaching" >
        </div>

        <div class="row justify-content-center my-5 w-100">
            <a href="{{ path('app_contact') }}"  class="btn btn-primary">C'EST PARTI !</a>
        </div>

    </section>
    {% include 'home/_map.html.twig' %}
{% endblock %}
