<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-6 offset-3 text-center text-primary">
            {{ form_start(form) }}
            {% if (attended.user is not null) %}
                <div class="h5">
                    {{ attended.user.firstname }}
                    {{ attended.user.lastname }}
                </div>
                <div class="h5">
                    {{ attended.program.name }}
                </div>
            {% endif %}
            {{ form_widget(form) }}
            <div class="form-inline justify-content-center">
                <button class="btn btn-primary m-4">{{ button_label|default('Enregistrer') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
