{% extends 'base_admin.html.twig' %}

{% block title %}Adhésions{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Adhésions aux programmes</h1>

    <div class="m-2 mb-4 mr-4 text-right">
        <a class="btn btn-light text-primary border-primary mx-2" href="{{ path('attended_new') }}">Ajouter
            <svg class="bi bi-plus-circle-fill" width="24px" height="24px" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
            </svg>
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Programme</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attended in attendeds %}
            <tr>
                <td>{{ attended.user.firstname }}</td>
                <td>{{ attended.user.lastname }}</td>
                <td>{{ attended.program.name }}</td>
                <td>{{ attended.beginDate ? attended.beginDate|date('Y-m-d') : '' }}</td>
                <td>{{ attended.endDate ? attended.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('attended_show', {'id': attended.id}) }}">show</a>
                    <a href="{{ path('attended_edit', {'id': attended.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
